body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: #f2f2f2;
    background-image: url(.//images/img33.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: bisque;
    font-family: 'Poppins';
}

h2{
    margin: 0 0 20px;
    text-align: center;
    color: black;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    border-color: red;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.erreur {
    color: #dc3545;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
